<% tasks.forEach(task => { %>
<h1>Class</h1>
<div class="container">
  <div class="left-column">
    <p><%= task.startTime %></p>
    <p>-</p>
    <p><%= task.endTime %></p>
  </div>
  <div class="right-column">
    <p><%= task.title %></p>
    <% if (task.notes) { %>
    <p><%= task.notes %></p>
    <% } %>
    <% if (task.tag) { %>
    <p><i class=""></i> <%= task.tag %></p>
    <% } %>
  </div>
</div>
<% }) %>

<%- include('partials/addTask.ejs') %>
<div class = "addButtonSection">

<button class="btn btn-primary mx-auto" onclick="showForm()" id="btn-add-task" type="text">Add Task</button>

<script>
  (function hideForm() {
    $('#add-task').hide();
  })();

  function showForm() {
    $('#add-task').show();
  }
</script>

<button class="btn btn-primary mx-auto" onclick="showForm()" id="btn-add-event" type="text">Add Event</button>
</div>

