<div id="schedule-container">
  <div id="schedule-content">
    <% if (events.length > 0) {
      function tConvert (time) {
        time = time.toString ().match (/^([01]\d|2[0-3])(:)([0-5]\d)(:[0-5]\d)?$/) || [time];
      
        if (time.length > 1) {
          time = time.slice (1);
          time[5] = +time[0] < 12 ? ' AM' : ' PM';
          time[0] = +time[0] % 12 || 12;
        }
        return time.join ('');
      }
      events.forEach(event => { 
        // Converting time format from 24 hr to 12 hr
        const startTime = tConvert(event.startTime);
        const endTime = tConvert(event.endTime);
      %>
    <div class="event-container event-class">
      <div class="event-top-row">
        <p class="event-startTime"><%= startTime %></p>
        <p class="event-title"><%= event.title %></p>
      </div>
      <div class="event-middle-row">
        <p class="event-endTime"><%= endTime %></p>
        <p class="event-notes"><%= event.notes %></p>
      </div>
      <div class="event-bottom-row">
        <p class="event-subject">
          <% switch (event.tag) {
                case "art": %>
          <i class="fa fa-paint-brush"></i>
          <% break
                case "break": %>
          <i class="fa fa-walking"></i>
          <% break
                case "history": %>
          <i class="fa fa-monument"></i>
          <% break
                case "literature": %>
          <i class="fa fa-book event-subject-i"></i>
          <% break
                case "lunch": %>
          <i class="fa fa-utensils"></i>
          <% break
                case "math": %>
          <i class="fa fa-percent"></i>
          <% break
                case "science": %>
          <i class="fa fa-flask"></i>
          <% } %>
          <%= event.tag %></p> <!-- event-subject -->
      </div> <!-- event-bottom-row -->
    </div> <!-- event-container -->
    <% }) %>
    <% } else { %>
    <h1 class="no-events">No events to display</h1>
    <p class="no-events">Click below to get started!</p>
    <% } %>

    <%- include('partials/addEvent.ejs') %>

    <div id="btn-add-event-wrapper">
      <button class="btn btn-primary" onclick="showForm()" id="btn-add-event" type="text">Add Event</button>
    </div>
  </div> <!-- schedule-content -->

</div> <!-- schedule-container -->

<script>
  (function hideForm() {
    $('#form-add-event').hide();
    $('#btn-hide-form').hide();
  })();

  function showForm() {
    $('#form-add-event').show();
    $('#btn-add-event').hide();
    $('#btn-hide-form').show();
  }

  function cancelForm() {
    $('#form-add-event').hide();
    $('#btn-hide-form').hide();
    $('#btn-add-event').show();
  }
</script>