<% events.forEach(event => { %>
  <% if (event.tag === 'lunch') { %>
    <h1 class="event-header">Lunch</h1>
    <div class="event-container event-lunch">
  <% } else if (event.tag === 'break') { %>
    <h1 class="event-header">Break</h1>
    <div class="event-container event-break">
  <% } else { %>
    <h1 class="event-header">Class</h1>
    <div class="event-container event-class">
  <% } %>
    <div class="event-left-column">
      <p class="event-startTime"><%= event.startTime %></p>
      <p>-</p>
      <p class="event-endTime"><%= event.endTime %></p>
    </div>
    <div class="event-right-column">
      <p class="event-title"><%= event.title %></p>
      <% if (event.notes) { %>
      <p class="event-notes"><%= event.notes %></p>
      <% } %>
      <p class="event-tag">
        <% switch (event.tag) {
          case "art": %>
            <i class="fa fa-paint-brush"></i> 
            <% break
          case "break": %>
            <i class="fa fa-walking"></i> 
            <% break
          case "history": %>
            <i class="fa fa-monument"></i> 
            <% break
          case "literature": %>
            <i class="fa fa-book"></i> 
            <% break
          case "lunch": %>
            <i class="fa fa-utensils"></i> 
            <% break
          case "math": %>
            <i class="fa fa-percent"></i> 
            <% break
          case "science": %>
            <i class="fa fa-flask"></i> 
        <% } %>
        <%= event.tag %>
      </p>
    </div>
  </div>
<% }) %>

<%- include('partials/addEvent.ejs') %>
<!-- <div class = "addButtonSection"> -->

<button class="btn btn-primary mx-auto" onclick="showForm()" id="btn-add-event"
type="text">Add Event</button>

<script>
  (function hideForm() {
    $('#add-event').hide();
    $('#btn-hide-form').hide();    
  })();

  function showForm() {
    $('#add-event').show();
    $('#btn-hide-form').show();
  }

  function cancelForm() {
    $('#add-event').hide();
    $('#btn-hide-form').hide();    
  }
</script>