<% events.forEach(event => { %>
  <% switch (event.tag) {
    case "art": %>
      <div class="event-container event-class">
        <div class="event-left-column">
        <p class="event-header"><i class="fa fa-paint-brush"></i> <%= event.tag %></p>
      
      <% break
    case "break": %>
      <div class="event-container event-break">
        <div class="event-left-column">
        <p class="event-header"><i class="fa fa-walking"></i> <%= event.tag %></p>
      
      <% break
    case "history": %>
      <div class="event-container event-class">
        <div class="event-left-column">
        <p class="event-header"><i class="fa fa-monument"></i> <%= event.tag %></p>
      
      <% break
    case "literature": %>
      <div class="event-container event-class">
        <div class="event-left-column">
        <p class="event-header"><i class="fa fa-book"></i> <%= event.tag %></p>
      
      <% break
    case "lunch": %>
      <div class="event-container event-lunch">
        <div class="event-left-column">
        <p class="event-header"><i class="fa fa-utensils"></i> <%= event.tag %></p>
      
      <% break
    case "math": %>
      <div class="event-container event-class">
        <div class="event-left-column">
        <p class="event-header"><i class="fa fa-percent"></i> <%= event.tag %></p>
      
      <% break
    case "science": %>
      <div class="event-container event-class">
        <div class="event-left-column">
        <p class="event-header"><i class="fa fa-flask"></i> <%= event.tag %></p>
  <% } %>
      <p class="event-startTime"><%= event.startTime %></p>
      <p class="event-endTime"><%= event.endTime %></p>
    </div>
    <div class="event-right-column">
      <p class="event-title"><%= event.title %></p>
      <% if (event.notes) { %>
      <p class="event-notes"><%= event.notes %></p>
      <% } %>
    </div>
    <div class="btn-slideOut">
      <span on><i class="fa fa-minus"></i></span>
      <span><i class="fa fa-minus"></i></span>
    </div>
  </div>
<% }) %>

<%- include('partials/addEvent.ejs') %>
<!-- <div class = "addButtonSection"> -->

<button class="btn btn-primary" onclick="showForm()" id="btn-add-event"
type="text">Add Event</button>

<script>
  (function hideForm() {
    $('#add-event').hide();
    $('#btn-hide-form').hide();    
  })();

  function showForm() {
    $('#add-event').show();
    $('#btn-hide-form').show();
  }

  function cancelForm() {
    $('#add-event').hide();
    $('#btn-hide-form').hide();    
  }

  function showSlideOutButtons() {
    $(".btn-slideOut").show();
  }
</script>